<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление сотрудника</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <h1>Добавление сотрудника</h1>
    <form action="/create" method="POST" enctype="application/x-www-form-urlencoded">
        
        <fieldset>
            <legend>Личная информация</legend>
            <label for="last_name">Фамилия:</label>
            <input type="text" name="employeeData[last_name]" required>

            <label for="first_name">Имя:</label>
            <input type="text" name="employeeData[first_name]" required>

            <label for="middle_name">Отчество:</label>
            <input type="text" name="employeeData[middle_name]">

            <label for="passport_number">Паспорт:</label>
            <input type="text" name="employeeData[passport_number]" required>

            <label for="phone_number">Телефон:</label>
            <input type="text" name="employeeData[phone_number]" required>

            <label for="email">Email:</label>
            <input type="email" name="employeeData[email]" required>

            <label for="telegram">Telegram:</label>
            <input type="text" name="employeeData[telegram]">
        </fieldset>

        <fieldset>
            <legend>Адрес</legend>
            <label for="city">Город:</label>
            <input type="text" name="addressData[city]" required>

            <label for="street">Улица:</label>
            <input type="text" name="addressData[street]" required>

            <label for="house_number">Дом:</label>
            <input type="text" name="addressData[house_number]" required>

        </fieldset>

        <fieldset>
            <legend>Должность и отдел</legend>
            <label for="departmentName">Департамент:</label>
            <input type="text" name="departmentName" required>

            <label for="positionName">Должность:</label>
            <input type="text" name="positionName" required>

            <label for="salary">Зарплата:</label>
            <input type="number" name="employeeData[salary]" required>

            <label for="hire_date">Дата найма:</label>
            <input type="date" name="employeeData[hire_date]" required>
        </fieldset>

        <button type="submit">Добавить сотрудника</button>
    </form>
</body>
</html>
